html {
  box-sizing: border-box;
  background-color: white;
  font-family: Merriweather, serif;
  line-height: 1.5;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col col col";
  gap: .75rem;
}

h1 {
  color: #000;
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
}

.banner {
  grid-area: banner;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  padding: 1rem;
}

h2 {
  font-size: 1.8rem;
}

figure h2 {
  margin-bottom: 0;
}

.sub {
  color: #fff;
  grid-area: banner;
  align-self: end;
  padding: 1rem 1.5rem;
}

p {
margin: 0 0 1.5rem;
}

dl {
  margin: 0;
}

dt {
  font-style: italic;
}

dd {
  margin-left: 1rem;
}
