html {
  box-sizing: border-box;
  background-color: white;
  font-family: Merriweather, serif;
  line-height: 1.5;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-style: italic;
  font-size: 1.8rem;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .75fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col col col";
  gap: .75rem;
}

h1 {
  color: #000;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.banner {
  grid-area: banner;
  margin: inherit;
  width: 100%;
}

figure img {
  margin: 0;
  max-width: inherit;
  width: 100%;
}

h2 {
  font-size: 1.8rem;
}

.sub {
  color: #fff;
  grid-area: banner;
  z-index: 1;
  align-self: flex-end;
  margin-left: 1.5rem;
  line-height: 1rem;
  padding: 1rem;
}

p {
  font-style: normal;
  font-size: 1.5rem;
}

figcaption {
  margin-left: 1rem;
  padding-left: 1rem;
}

dl dt {
  font-size: 1.5rem;
  color: #000;
}

dl dd {
  font-size: 1.5rem;
  color: #000;
  font-style: normal;
}
