html {
  box-sizing: border-box;
  background-color: white;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-style: italic;
  font-size: 1.8rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "img1 img2 img3"
    "artemis rhodes babylon";
  gap: .75rem;
}

h1 {
  color: #000;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  z-index: 1;
}

figure {
  grid-area: banner;
  margin: inherit;
}

figure img {
  margin: 0;
  max-width: inherit;
}

.sub {
  grid-column: 1 / 4;
  grid-row: 3;
  align-self: flex-end;
  padding: 2rem;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

h2 {
  color: #fff;
  font-size: 1.8rem;
}

p {
  color: #fff;
  font-style: normal;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.8rem;
  color: #000;
}

dl dt {
  font-size: 1.5rem;
  color: #000;
}

dl dd {
  font-size: 1.5rem;
  color: #000;
  font-style: normal;
}

.artemis {
  grid-area: artemis;
  padding-left: 1rem;
  margin-left: 1rem;
}

.rhodes {
  grid-area: rhodes;
  margin-left: 1rem;
  padding-left: 1rem;
}

.babylon {
  grid-area: babylon;
  margin-left: 1rem;
  padding-left: 1rem;
}
